<h1>Welcome to Ontrips!!</h1>

<h4>新規登録ありがとうございます</h4>

<br>

<p>アカウント認証メールをお送りしました</p>
<p>ご確認お願いします</p>

<h2><i class="far fa-envelope"></i></h2>

<%= link_to 'letter_opener', letter_opener_web_path if Rails.env.development? %>