
<body id ="top">
  <div class="container">
    <nav class="navbar navbar-light">
      <a align="left" class="navbar-brand text-success">GoRo - Golf Round</a>
      <div class="float_right">
        <ul class="login">
        <% unless user_signed_in? %>
          <li><%= link_to "ログイン", new_user_session_path, class: "btn my-2 my-sm-0 bg-light text-top-color" %></li>
          <li><%= link_to "ゲストログイン", users_guest_sign_in_path, class: "btn my-2 my-sm-0 bg-light text-top-color", method: :post %></li>
          <li><%= link_to "ゲスト管理ログイン", users_guest_admin_sign_in_path, class: "btn my-2 my-sm-0 bg-light text-top-color", method: :post %></li>
        <% end %>
        </ul>
      </div>
    </nav>
  </div>

  <div class="top-title">
    <h1 class="text-black-50 text-left">
      <p>ゴルフをもっと楽しみたい方へ</p>
    </h1>
    <br>

    <h2 class="text-black-50">
      <p>男女問わず、ゴルフでマッチングできるアプリ</p>
      <p>男性同士、女性同士でもマッチングができます！</p>
      <p>ぜひラウンドを通して、</p>
      <p>交友関係を深めてみてください！</p>
    </h2>
  </div>

  <% unless user_signed_in? %>
  <div class="top-authentication text-left">
    <div class="top-authentication__sign-up-btn m-3">
      <%= link_to "アカウントを作成する", new_user_registration_path, class: "btn text-white" %>
    </div>
  </div>
  <% end %>
</body>