<div class="col-sm-6">
  <h1>Talk</h1>
  <p>ダイレクトメッセージ</p>
  <ul>
    <% if talk.target_user(current_user).present? %>
        <li class="talking__user">
          <%= link_to talk_messages_path(talk) do %>
            <%= image_tag talk.target_user(current_user).profile.icon.url %>
            <%= talk.target_user(current_user).name %>
            <span class="btn btn-danger"><%= talk.messages.where.not(user_id:current_user.id).where(read: false).count %></span>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="col-sm-6">
  <div class=" message__area">

  </div>

</div> 