// .jumbotron {
//   background-image: image-url('top.jpg');
//   background-size: cover;
//   height: 120vh;
//   width: 200vh;
//   position: relative;
//   margin-left: -440px;
//   padding-bottom: 50px;
// }

// .jumbotron {
  // /* 画像ファイルの指定 */
  // background-image: url("top.jpg");
   
  // /* 画像を常に天地左右の中央に配置 */
  // background-position: center center;
   
  // /* 画像をタイル状に繰り返し表示しない */
  // background-repeat: no-repeat;
   
  // /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  // background-attachment: fixed;
   
  // /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  // // background-size: cover;

  // width: 100%;
  // height: 100vh;
  // background-image: url("top.jpg");
  // background-repeat: no-repeat;
  // background-size: 100% 100%;


// }



.text-top-color {
  color: #FD3378;
  font-weight: 600;
  padding: 6px 24px;
}

.top-title {
  background-color: aquamarine;
  // display:flex;
  width: 710px;
  // height: 50px;
  position: absolute;
  top: 45%;
  right: 0%;
  // right: 30%;
  transform: translate(-50%,-50%);
  letter-spacing: 2px;
  white-space: nowrap;
  margin-right: 200px;
  margin-top: -140px;
  padding-top: 10px;
}

.top-authentication {
  position: absolute;
  top: 60%;
  left: 6%;
  transform: translate(-50%,-50%);
  &__sign-up-btn {
    background: #FD3378;
    border-radius: 40px;
    padding: 3px;
    white-space: nowrap;
    width: 180%;
    text-align: center;
  }
}

.login{
  display: flex;
	// flex-wrap:wrap;
}

.login li {
  // width :200px;
	// width: calc(100%/3);/*←画像を横に4つ並べる場合*/
	padding:0 40px;/*←画像の左右に5pxの余白を入れる場合*/
	box-sizing:border-box;
  word-break: keep-all;
}




// @media (max-width: 767px) {
//   .navbar__sign-in-btn {
//     display: none;
//   }
// }

// @media (max-width: 767px) {
//   .navbar__gest_sign-in-btn {
//     display: none;
//   }
// }

// @media (max-width: 767px) {
//   .navbar__gest_admin_sign-in-btn {
//     display: none;
//   }
// }

@media (min-width: 768px) {
  .top-authentication {
    &__sign-in-btn {
      display: none;
    }
  }
}

h1.text-black-50 p {
  margin-top: -60px;
  font-size: 30px;
}

h2.text-black-50 {
  text-align: left;
  width: 100%;
  // position: fixed;
  font-size: 30px;
}

.text-white {
  height: 60px;
  width: 270px;
}

a.btn.text-white {
  font-size: 25px;
}

.navbar {
  right: 0%;
  width: 100%;
  position: fixed;
}

a.navbar-brand {
  font-size: 3rem;
  padding-left: -150px;
}

