.jumbotron {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.05) );
  background-image: image-url('top.jpg');
  background-size: cover;
  height: 100vh;
  padding: 0;
  border-radius: 0;
}

.text-top-color {
  color: #FD3378;
  font-weight: 600;
  padding: 6px 24px;
}

.top-title {
  background-color: aquamarine;
  // display:flex;
  width: 750px;
  // height: 50px;
  position: absolute;
  top: 30%;
  right: -18.7%;
  // right: 30%;
  transform: translate(-50%,-50%);
  letter-spacing: 2px;
  white-space: nowrap;
  margin-right: 200px;
  margin-top: -140px;
}

.top-authentication {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%,-50%);
  &__sign-up-btn {
    background: #FD3378;
    border-radius: 40px;
    padding: 4px;
    white-space: nowrap;
  }
}

.login{
  display: flex;
	// flex-wrap:wrap;
}

.login li {
  // width :200px;
	// width: calc(100%/3);/*←画像を横に4つ並べる場合*/
	padding:0 40px;/*←画像の左右に5pxの余白を入れる場合*/
	box-sizing:border-box;
  word-break: keep-all;
}




// @media (max-width: 767px) {
//   .navbar__sign-in-btn {
//     display: none;
//   }
// }

// @media (max-width: 767px) {
//   .navbar__gest_sign-in-btn {
//     display: none;
//   }
// }

// @media (max-width: 767px) {
//   .navbar__gest_admin_sign-in-btn {
//     display: none;
//   }
// }

@media (min-width: 768px) {
  .top-authentication {
    &__sign-in-btn {
      display: none;
    }
  }
}

h1.text-black-50 p {
  margin-top: -70px
}


h2.text-black-50 {
  text-align: left;
  width: 100%;
}

.text-white {
  height: 60px;
  width: 270px;
}

a.btn.text-white {
  font-size: 25px;
}
